$color_primary: #777;
$color_2: #58e1c1;
$color_3: #51ddfc;
$color_4: #fff;
$font-family: 'Lato', sans-serif;
$background_color_1: #927bc1;
$background_color_2: #fd7856;
$background_color_3: #deb2ee;
$background_color_4: #7ee6fd;
$background_color_5: #88d9a0;
$background_color_6: #4da2bb;
$background_color_7: #ec9fa3;
$background_color_8: #fd9f85;
$background_color_9: #e4757a;
$background_color_10: #63cc82;
$background_color_11: #51ddfc;
$background_color_12: #80e8d1;
$background_color_13: #58e1c1;

$background-colors: (
    "1": $background_color_1,
    "2": $background_color_2,
    "3": $background_color_3,
    "4": $background_color_4,
    "5": $background_color_5,
    "6": $background_color_6,
    "7": $background_color_7,
    "8": $background_color_8,
    "9": $background_color_9,
    "10": $background_color_10,
    "11": $background_color_11,
    "12": $background_color_12,
    "13": $background_color_13
);