.btn {
    @include btn-base;
    
    &.default {
        background-color: $background_color_11;  
        &:hover {
            @include btn-transition($background_color_11);
        }
    }
    &.error {
        background-color: $background_color_9;
        &:hover {
            @include btn-transition($background_color_9);
        }
    }
    &.info {
        background-color: $background_color_1;
        &:hover {
            @include btn-transition($background_color_1);
        }
    }
    &.success {
        background-color: $background_color_10;
        &:hover {
            @include btn-transition($background_color_10);
        }
    }
    &.warning {
        background-color: $background_color_2;
        &:hover {
            @include btn-transition($background_color_2);
        }
    }
}