.nav {
	@include nav-base;
	&-link {
		text-align: center;
		border-radius: 5px;
		padding: 10px 0;
		display: block;
		width: 100%;
		transition: background-color .2s ease-in-out, color .2s ease-in-out;
		@include media-query($breakpoint-lg) {
			flex-basis: 100px;
		}
		&:hover {
			color: $color_4;
			background-color: $background_color_13;
		}
	}
	@include media-query($breakpoint-lg) {
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}
}