* {
	font-family: $font-family;
	color: $color_primary;
	box-sizing: border-box;
}

p {
	line-height: 1.45em;
}

a {
	text-decoration: none;
}

.link {
	color: $color_3;
	font-weight: 700;
}

.headline {
    &-primary {
        color: $color_2;
        margin-left: 10px;
    }
    &-secondary {
        font-weight: 300;
        color: $color_primary;
    }
}